<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>620854601446-v5ldig7gal48qbh3oajmet4ni0iiqnsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620854601446-v5ldig7gal48qbh3oajmet4ni0iiqnsi</string>
	<key>API_KEY</key>
	<string>AIzaSyD1f3AWyJd6iJoTsKJfKJIoLg5oN3SX7wU</string>
	<key>GCM_SENDER_ID</key>
	<string>620854601446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kode.AsystCRM</string>
	<key>PROJECT_ID</key>
	<string>asystcrm-c6aef</string>
	<key>STORAGE_BUCKET</key>
	<string>asystcrm-c6aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:620854601446:ios:fb5dfad270f3f2e9</string>
	<key>DATABASE_URL</key>
	<string>https://asystcrm-c6aef.firebaseio.com</string>
</dict>
</plist>